<div>
  <h2>Stanapp Mobile Operator</h2>
  <div>
    <h3><i class="check icon"></i>It's safe! The connection is completely secure.</h3>
    <h3><i class="check icon"></i>It's fast! Everything happens in minutes.</h3>
    <h3><i class="check icon"></i>Very detailed! Review of remaining traffic.</h3><br>
  </div>
  <div class="ui animated button" tabindex="0">
    <div class="visible content" >Join Us</div>
    <div class="hidden content">
      <i class="right arrow icon"></i>
    </div>
  </div>
  
</div>
